@import url("./variables.css");
/* font-family: "Antonio", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body{
    font-family: "Open Sans", sans-serif;
    position: relative;
    background-color: var(--white);
    overflow-x: hidden;
}


a{
    text-decoration: none;
    transition: 0.3s all ease;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar
{
	width: 8px;
	background-color: #fff;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a3a3a3;
}


/* =======================================================================
    Buttons CSS
========================================================================== */
.green-btn{
    background-color: var(--green);
    color: var(--white);
    font-size: 20px;
    font-family: "Antonio", sans-serif;
    border: 1.5px solid var(--green);
    padding: 8px 30px 10px 30px;
    border-radius: 5px;
}
.green-btn:hover{
    background-color: transparent;
    color: var(--green);
}
.green-outline-btn{
    background-color: transparent;
    color: var(--green);
    font-size: 20px;
    font-family: "Antonio", sans-serif;
    border: 1.5px solid var(--green);
    padding: 8px 30px 10px 30px;
    border-radius: 5px;
}
.green-outline-btn:hover{
    background-color: var(--green);
    color: var(--white);
}

/* =======================================================================
    General Common CSS
========================================================================== */
.bold-500{
    font-weight: 500;
}
.bold-600{
    font-weight: 600;
}
.text-white{
    color: var(--white)!important;
}
.text-palat-gray{
    color: var(--palate-gray)!important;
}
.text-primary{
    color: var(--primary)!important;
}
.text-green{
    color: var(--green)!important;
}
.text-secondary{
    color: var(--secondary)!important;
}
.light-sec{
    background-color: #F9F9F9;
}
.section-heading{
    margin: 0 0 50px 0;
    text-align: center;
}
.section-heading h2{
    font-size: 45px;
    line-height: 120%;
    text-transform: uppercase;
    font-family: "Antonio", sans-serif;
    color: var(--black);
    font-weight: 600;
}
.section-heading p{
    margin-top: 24px;
    font-weight: 400;
    margin-bottom: 0;
}
.section-heading .border-bottom{
    background-color: var(--primary);
    width: 100px;
    height: 4px;
    border-radius: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.page-heading{
    margin: 0 0 44px;
}

.section-heading-font{
    margin: 0 0 44px;
}
.section-heading-font h2{
    font-size: 40px;
    line-height: 120%;
    text-transform: capitalize;
    color: var(--black);
    font-weight: 600;
    /* font-family: 'MollieGlaston'; */
    font-family: 'Rajdhani', sans-serif;
}
.section-heading-font .border-bottom{
    background-color: var(--primary);
    width: 100px;
    height: 4px;
    border-radius: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* .page-heading.center{
    margin: 0 auto;
} */
.page-heading h1{
    font-size: 50px;
    line-height: 120%;
    text-transform: capitalize;
    color: var(--black);
    font-weight: 600;
    /* font-family: 'MollieGlaston' */
    font-family: 'Rajdhani', sans-serif;
}
.page-heading p{
    font-weight: 300;
}
.page-heading .border-bottom{
    background-color: var(--primary);
    width: 100px;
    height: 4px;
    border-radius: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* =======================================================================
    Navbar CSS
========================================================================== */
.main-nav .navbar{
    padding: 0;
}
.main-nav .navbar-brand img{
    width: 150px;
}
.main-nav .nav-link{
    color: var(--text);
    font-family: "Antonio", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 15px!important;
    margin: 0 5px;
    transition: 0.3s all ease;
    border-bottom: 3px solid transparent;
}
.main-nav .nav-link:hover{
    background-color: #F9F9F9;
    border-bottom: 3px solid var(--primary);
}
.main-nav .nav-link.active{
    background-color: #F9F9F9;
    border-bottom: 3px solid var(--primary);
    font-weight: 600;
}



/* =======================================================================
    Main Banner
========================================================================== */

.banner-content-box h1{
    color: var(--black);
    font-family: "Antonio", sans-serif;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner-content-box .desc{
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}
.banner-content-box .green-btn{
    text-transform: uppercase;
    font-size: 20px;
}
.main-banner-slide{
    padding: 100px 0;
}

#main-banner-carousel .owl-dots{
    position: absolute;
    bottom: 100px;
}
#main-banner-carousel .owl-dots .owl-dot span{
    width: 50px;
    height: 2px;
}
#main-banner-carousel .owl-dots .owl-dot:hover span{
    background-color: var(--primary);
    opacity: 0.5;
}
#main-banner-carousel .owl-dots .owl-dot.active span{
    height: 3px;
    background-color: var(--primary);
    opacity: 1;
}


/* =======================================================================
    Meal Plan Section
========================================================================== */
.meal-plan-section{
    padding: 30px 0 70px 0;
}
.meal-plan-card{
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: 0.3s all ease;
}
/* .meal-plan-card:hover{
    transform: scale(1.1);
} */
.meal-plan-card.reverse{
    flex-direction: row-reverse
}
.meal-plan-card.orange{
    background-color: #F8C78B;
}
.meal-plan-card.green{
    background-color: #7DCFA5;
}
.meal-plan-card .img-box{
    width: 60%;
    overflow: hidden;
}
.meal-plan-card .img-box img{
    width: 100%;
    height: 205px;
    object-fit: cover;
    transform: scale(1.2);
    transition: 0.3s all ease;
}
.meal-plan-card:hover .img-box img{
    transform: scale(1.1);
}
.meal-plan-card .content-box{
    width: 40%;
    padding: 23px 10px 23px 24px;
}
.meal-plan-card .content-box .title{
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    color: var(--text);
    font-size: 30px;
    line-height: 33px;
    font-weight: 700;
    height: 66px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: 0.3s all ease;
}
.meal-plan-card:hover .content-box .title{
    transform: scale(1.1);
}
.meal-plan-card .content-box .price-box .price{
    color: var(--white);
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.meal-plan-card .content-box .price-box .price-day{
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.meal-plan-card .content-box .btn{
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    transition: 0.3s all ease;
    border: 1px solid #fff;
    padding: 4px 10px;
    width: fit-content;
}
.meal-plan-card .content-box .btn i{
    font-weight: bold;
    margin-right: 5px;
    transition: 0.3s all ease;
}
.meal-plan-card .content-box .btn:active{
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
}
.meal-plan-card.orange .content-box .btn{
    color: var(--primary);
}
.meal-plan-card.green .content-box .btn{
    color: var(--green);
}
.meal-plan-card .content-box .btn:hover{
    color: var(--white);
}
.meal-plan-card.green .content-box .btn:hover i{
    color: var(--green);
    margin-right: 10px;
}
.meal-plan-card.orange .content-box .btn:hover i{
    color: var(--primary);
    margin-right: 10px;
}

/* =======================================================================
    Meal of the day Section
========================================================================== */
.meal-of-the-day{
    padding: 100px 0 70px 0;
}
.meal-of-day-item{
    background-image: url('../images/rec-orange.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    position: relative;
}
.meal-of-day-item.orange{
    background-image: url('../images/rec-orange.png');
}
.meal-of-day-item.green{
    background-image: url('../images/rec-green.png');
}
.meal-of-day-item img{
    width: 170px!important;
    height: 100px;
    object-fit: contain;
    transition: 0.3s all ease;
}
.meal-of-day-item:hover img{
    transform: scale(1.1);
}

#meals-of-day-carsoule.owl-carousel .owl-stage-outer{
    overflow-y: visible;
    overflow-x: clip;
}

.meal-of-day-item .mela-info-box{
    background-color: var(--white);
    text-align: center;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 0;
    width: 200px;
    position: absolute;
    top: -160px;
    display: none;
    transition: 0.3s all ease;
}
.meal-of-day-item.orange .mela-info-box{
    background-color: #F8C78B;
}
.meal-of-day-item.green .mela-info-box{
    background-color: #7DCFA5;
}
.meal-of-day-item:hover .mela-info-box{
    display: block;
}
.meal-of-day-item .mela-info-box .meal-name{
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}
.meal-of-day-item .mela-info-box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.meal-of-day-item .mela-info-box ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #7a7a7a;
    padding: 3px 15px;
}
.meal-of-day-item .mela-info-box .title{
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    color: var(--text);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}
.meal-of-day-item .mela-info-box .desc{
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    color: var(--text);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}


/* =======================================================================
    Not Sure Banner Section
========================================================================== */
.not-sure-sec{
    padding: 180px 0 70px 0;
}
.not-sure-banner-box{
    background: rgb(0,166,81);
    background: linear-gradient(90deg, rgba(0,166,81,1) 0%, rgba(10,132,69,1) 100%);
    padding: 40px 60px;
    border-radius: 10px 202px 10px 10px;
    position: relative;
}
.not-sure-banner-box .content-box h2{
    color: var(--white);
    font-size: 45px;
    font-weight: 600;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.not-sure-banner-box .content-box a{
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    transition: 0.3s all ease;
}
.not-sure-banner-box .content-box a i{
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    transition: 0.3s all ease;
}
/* .not-sure-banner-box .content-box a:hover{
    color: var(--primary);
} */
.not-sure-banner-box .content-box a:hover i{
    margin-right: 15px;
}

.not-sure-banner-box .img-box img{
    position: absolute;
    bottom: 0;
    left: 75%;
}




/* =======================================================================
    How It Works Section
========================================================================== */
.how-it-works-sec{
    padding: 30px 0 70px;
}
.how-it-works-heading-box{
    background-color: var(--white);
    border-radius: 20px;
    padding: 30px 30px 40px 30px;
}
.how-it-works-heading-box h2{
    font-size: 45px;
    color: var(--black);
    font-weight: 600;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.how-it-works-heading-box p{
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
    margin-bottom: 30px;
}
.how-it-works-item.green{
    background-color: #7DCFA5;
}
.how-it-works-item.orange{
    background-color: #F8C78B;
}
.how-it-works-item{
    padding: 30px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: 0.3s all ease;
}
.how-it-works-item:hover{
    transform: scale(1.05);
}
.how-it-works-item img{
    margin-bottom: 10px;
    height: 50px;
    transition: 0.3s all ease;
}
.how-it-works-item:hover img{
    transform: scale(1.1) translateY(-10px);
}
.how-it-works-item.green .title{
    color: var(--green);
}
.how-it-works-item.orange .title{
    color: var(--primary);
}
.how-it-works-item .title{
    font-size: 20px;
    font-weight: 600;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
}
.how-it-works-item .desc{
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 0;
}

/* =======================================================================
    FAQ's Section
========================================================================== */
.faq-sec{
    padding: 50px 0 70px 0;
}
.faq-category-box{
    background-color: #7DCFA5;
    border-radius: 20px;
    padding: 20px 10px 20px 30px;
}
.faq-category-box .nav-link{
    text-align: left;
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
}
.faq-category-box .nav-link.active{
    background-color: var(--green);
}
.faq-accodain-box .accordion-item{
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 0;
}
.faq-accodain-box .accordion-button{
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
}
.faq-accodain-box .accordion-button:hover{
    color: var(--green);
}
.faq-accodain-box .accordion-body p{
    color: #696969;
    font-size: 14px;
    font-weight: 400;
}
.faq-accodain-box .accordion-button:not(.collapsed){
    background-color: white;
    box-shadow: none;
    color: var(--green);
}
.faq-accodain-box .accordion-button:focus{
    box-shadow: none;
}
.faq-accodain-box .accordion-button::after{
    background-image: url('../images/Polygon.png');
    background-size: 16px;
}
.faq-accodain-box .accordion-button:not(.collapsed)::after{
    transform: rotate(-90deg);
}




/* =======================================================================
    Main Personalize Section
========================================================================== */
.main-personalize-sec .side-detail{

}
.main-personalize-sec .side-detail .img-box{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.main-personalize-sec .side-detail .img-box img{
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main-personalize-sec .side-detail .content-box h2{
    color: var(--black);
    font-size: 25px;
    font-weight: 600;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
}